.address {
  font-style: normal;
}

.address-list__location {
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  display: block;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-white-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address-list__contact {
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;

  display: block;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
